<h3>Signin</h3>
<form action="/admin" method="POST">
	<label for="username"><b>Username</b></label>
	<input type="text" placeholder="Enter username" name="username">

	<label for="password"><b>Password</b></label>
	<input type="password" placeholder="Enter password" name="password">
	<input type="submit" value="Signin" class="btn">
</form>
<div class="auth">
	You Are Not Registered ? <a href="/signup"><b>Signup</b></a>
</div>